html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Assistant','Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Assistant', sans-serif;
  color: #222;
}

a {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

del {
      text-decoration: line-through; 
    -webkit-text-decoration-color: #e03636; /* Safari */   
    text-decoration-color: #e03636;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 20px 0;
  position: relative;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}

.nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Assistant','Helvetica',sans-serif;
  text-align: left;
}

.nav-logo {
  float: right;
  margin-top: -11px;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px 0 0;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  transition-property: border;
  transition-duration: .1s;
}

.nav-links a:hover {
  color: #000;
}

.content {
  max-width: 800px;
  margin: 60px auto 80px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

.article-title {
  font-size: 1.5em;
  color: #222;
  margin: 0;
  line-height: 1.3;
  text-align: right;
}

.article-content {
  text-align: right;
  direction: rtl;
}

.article-content p {
  margin: 15px 0 10px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #CBF8DF;
  box-shadow: inset 0 -4px 0 #CBF8DF;
  background: transparent;
  transition: background 150ms ease;
  font-weight: 700;
}

.article-content .book-review {
  font-family: 'Assistant','Arial',sans-serif''
}

.article-content a:hover,
.article-content a:focus {
  background: #CBF8DF;
}

.article-content hr {
  width: 150px;
  margin: 30px 20px 0;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
  font-size: 14px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  text-align: center;
  color: #111;
}

.archive-title {
  font-size: 32px;
  margin-top: 60px;
}

.archive-item {
  margin: 5px 0 15px;
  padding: 0;
}

.archive-item-date {
  font-family: 'Amatic SC',sans-serif;
  color: #e03636;
  font-size: 22px;
  font-weight: 700;
  padding: 2px 0;
  margin-top: 5px;
  display: block;
}

.archive-item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Assistant','Arial', sans-serif;
  color: #222;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
  border-bottom-color: #222;
}

.columns {
  width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: right;
}

.list-series {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
  text-align: center;
}

.list-series li {
  display: inline-block;
  width: 32%;
  min-height: 220px;
  border: 1px solid #000;
  vertical-align: top;
}

.footer {
  padding: 25px 0;
  text-align: center;
  font-family: 'Assistant','Arial', sans-serif;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #222;
}

.footer-links li::before {
  content: '/';
  position: relative;
  right: -2px;
}

.footer-links li:first-child::before {
  display: none;
}
.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-right: 2px;
}

@media (min-width: 600px) {
  .header {
    padding: 25px 0;
  }

  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 50px;
  }

  .nav-links {
    font-size: 20px;
  }

  .nav-links li {
    margin: 0 30px 0 0;
  }
  
  .nav-links li a:hover {
    padding-bottom: 21px;
    border-bottom: 5px solid #e03636;
  }

  .content {
    font-size: 19px;
    line-height: 1.8;
    margin: 100px auto;
  }

  .highlight {
    font-size: 16px;
    margin: 40px -20px;
  }

  .archive {
    text-align: right;
  }

  .archive-title {
    font-size: 38px;
  }

  .archive-item-date {
    font-size: 28px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    text-align: left;
    float: right;
    margin-left: 1em;
  }

  .article-title, .columns-heading {
    font-size: 42px;
    text-align: right;
  }

  .article-duration {
    font-size: 12px;
  }

  .footer-links {
    font-size: inherit;
  }
}
