{{ partial "header.html" . }}

<main class="columns" role="main">
  <h1>main idea </h1>
  <div class="row">
    <ul class="series">
      <li>
        <a href="#">
          <img src="../static/images/break.jpg" alt="breaking-bad">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../static/images/break.jpg" alt="breaking-bad">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../static/images/break.jpg" alt="breaking-bad">
        </a>
      </li>
    </ul>
  </div>
</main>

{{ partial "footer.html" . }}